Repository kozistr/pytorch_optimizer, pull requests merged in 2022-09, with the labels that each got.

#73 [Feature] support torch.hub.load
  hubconf.py
  pytorch_optimizer/__init__.py
Labels: feature, size/S

#75 [Docs] fix `raw` derive in RST file
  README.rst
  pyproject.toml
Labels: bug, size/L

#77 [Feature, Fix] Adan optimizer
  pyproject.toml
  pytorch_optimizer/adan.py
  tests/test_optimizers.py
Labels: bug, test, feature, size/M
