Repository kozistr/pytorch_optimizer, pull requests merged in 2023-06, with the labels that each got.

#176 Implement SophiaH & AdaHessian
  pytorch_optimizer/__init__.py
  pytorch_optimizer/base/optimizer.py
  pytorch_optimizer/base/types.py
  pytorch_optimizer/optimizer/adahessian.py
  pytorch_optimizer/optimizer/sgd.py
  pytorch_optimizer/optimizer/sophiah.py
  tests/test_general_optimizer_parameters.py
  tests/test_gradients.py
  tests/test_load_optimizers.py
  tests/test_optimizers.py
Labels: feature, size/L

#177 [Refactor] AdaHessian, SophiaH optimizers
  README.rst
  docs/changelogs/v.2.10.0.md
  docs/optimizer_api.rst
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/base/optimizer.py
  pytorch_optimizer/base/types.py
  pytorch_optimizer/optimizer/adahessian.py
  pytorch_optimizer/optimizer/sgd.py
  pytorch_optimizer/optimizer/sophia.py
  tests/constants.py
  tests/test_base.py
  tests/test_general_optimizer_parameters.py
  tests/test_gradients.py
  tests/test_optimizers.py
  tests/utils.py
Labels: documentation, refactoring, cleanup, size/L

#178 [Docs] Fix typo
  docs/changelogs/v2.10.0.md
Labels: documentation, size/XS

#179 [Fix] `perturb` isn't multiplied by `-step_size` in SWATS optimizer
  .github/labels.yml
  docs/changelogs/v2.10.1.md
  poetry.lock
  pyproject.toml
  pytest.ini
  pytorch_optimizer/optimizer/swats.py
  requirements-dev.txt
  requirements.txt
  tests/constants.py
  tests/test_gradients.py
  tests/test_optimizers.py
Labels: bug, dependencies, size/L

#180 [Refactor] Hessian methods
  README.rst
  docs/base_api.rst
  docs/index.rst
  pytorch_optimizer/base/optimizer.py
  pytorch_optimizer/loss/__init__.py
  pytorch_optimizer/optimizer/adahessian.py
  pytorch_optimizer/optimizer/sgd.py
  pytorch_optimizer/optimizer/sophia.py
Labels: documentation, refactoring, size/M

#183 [Feature] Implement Prodigy optimizer
  README.rst
  docs/changelogs/v2.10.1.md
  docs/optimizer_api.rst
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/base/optimizer.py
  pytorch_optimizer/optimizer/adasmooth.py
  pytorch_optimizer/optimizer/lars.py
  pytorch_optimizer/optimizer/prodigy.py
  pytorch_optimizer/optimizer/ranger.py
  tests/constants.py
  tests/test_general_optimizer_parameters.py
  tests/test_gradients.py
  tests/test_load_optimizers.py
  tests/test_optimizer_parameters.py
  tests/test_optimizers.py
Labels: refactoring, feature, size/XL

#184 [Docs] README
  README.rst
Labels: documentation, size/XS

#185 [Docs] Fix typo
  pytorch_optimizer/base/optimizer.py
Labels: documentation, size/XS

#186 [Feature] Implement PAdam optimizer
  README.rst
  docs/changelogs/v2.11.0.md
  docs/optimizer_api.rst
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/padam.py
  tests/constants.py
  tests/test_load_optimizers.py
Labels: feature, size/M

#188 [Feature] Implement LOMO optimizer
  README.rst
  docs/changelogs/v2.11.0.md
  docs/optimizer_api.rst
  poetry.lock
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/base/optimizer.py
  pytorch_optimizer/base/scheduler.py
  pytorch_optimizer/base/types.py
  pytorch_optimizer/optimizer/fp16.py
  pytorch_optimizer/optimizer/lomo.py
  pytorch_optimizer/optimizer/utils.py
  requirements-dev.txt
  requirements.txt
  tests/constants.py
  tests/test_general_optimizer_parameters.py
  tests/test_gradients.py
  tests/test_load_optimizers.py
  tests/test_optimizers.py
  tests/test_utils.py
Labels: refactoring, dependencies, feature, size/L

#190 [Docs] SECURITY.md
  SECURITY.md
Labels: documentation, size/XS

#189 [Feature] Implement loss functions
  .github/pull_request_template.md
  README.rst
  docs/changelogs/v2.11.0.md
  docs/index.rst
  docs/loss_api.rst
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/base/types.py
  pytorch_optimizer/loss/bi_tempered.py
  pytorch_optimizer/loss/cross_entropy.py
  pytorch_optimizer/loss/dice.py
  pytorch_optimizer/loss/f1.py
  pytorch_optimizer/loss/focal.py
  pytorch_optimizer/loss/jaccard.py
  pytorch_optimizer/loss/ldam.py
  tests/test_load_lr_schedulers.py
  tests/test_load_modules.py
  tests/test_load_optimizers.py
  tests/test_loss_functions.py
  tests/utils.py
Labels: documentation, feature, size/XXL
