Repository kozistr/pytorch_optimizer, pull requests merged in 2023-04, with the labels that each got.

#125 [Fix] Ranger21 not skipping update
  pytorch_optimizer/optimizer/ranger21.py
Labels: bug, size/XS

#126 [Refactor] Ranger21 optimizer
  pytorch_optimizer/optimizer/ranger21.py
  tests/test_optimizer_parameters.py
Labels: refactoring, size/M

#123 [Fix] `Lookahead` optimizer
  poetry.lock
  pyproject.toml
  pytorch_optimizer/base/exception.py
  pytorch_optimizer/lr_scheduler/cosine_anealing.py
  pytorch_optimizer/optimizer/dadapt.py
  pytorch_optimizer/optimizer/lookahead.py
  pytorch_optimizer/optimizer/madgrad.py
  pytorch_optimizer/optimizer/pcgrad.py
  pytorch_optimizer/optimizer/ranger21.py
  pytorch_optimizer/optimizer/shampoo_utils.py
  pytorch_optimizer/optimizer/utils.py
  requirements-dev.txt
  requirements.txt
  tests/test_gradients.py
  tests/test_optimizer_parameters.py
  tests/test_optimizers.py
  tests/utils.py
Labels: bug, dependencies, size/L

#127 [Docs] README
  .github/pull_request_template.md
  README.rst
Labels: documentation, size/S

#128 [Refactor] Refactor/Optimize Scalable Shampoo optimizer
  docs/util_api.rst
  pytorch_optimizer/__init__.py
  pytorch_optimizer/base/exception.py
  pytorch_optimizer/optimizer/alig.py
  pytorch_optimizer/optimizer/shampoo.py
  pytorch_optimizer/optimizer/shampoo_utils.py
  tests/test_optimizers.py
  tests/test_utils.py
Labels: enhancement, refactoring, size/L

#129 [Update] yet another tweak for Scalable Shampoo optimizer
  docs/util_api.rst
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/shampoo.py
  pytorch_optimizer/optimizer/shampoo_utils.py
  tests/constants.py
  tests/test_optimizers.py
  tests/test_utils.py
Labels: refactoring, performance, feature, size/L

#130 [Feature] Implement SM3 Optimizer
  README.rst
  docs/optimizer_api.rst
  poetry.lock
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/sm3.py
  requirements-dev.txt
  requirements.txt
  tests/constants.py
  tests/test_gradients.py
  tests/test_load_optimizers.py
  tests/test_optimizer_parameters.py
  tests/test_optimizers.py
  tests/utils.py
Labels: feature, size/L

#132 [Fix] variables are not located on the same device with the gradients
  pyproject.toml
  pytorch_optimizer/optimizer/adafactor.py
  pytorch_optimizer/optimizer/sm3.py
Labels: bug, size/S

#134 [Feature] Implement RotoGrad optimizer
  README.rst
  docs/optimizer_api.rst
  docs/util_api.rst
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/adafactor.py
  pytorch_optimizer/optimizer/adan.py
  pytorch_optimizer/optimizer/alig.py
  pytorch_optimizer/optimizer/dadapt.py
  pytorch_optimizer/optimizer/lamb.py
  pytorch_optimizer/optimizer/lars.py
  pytorch_optimizer/optimizer/rotograd.py
  pytorch_optimizer/optimizer/utils.py
  tests/constants.py
  tests/test_gradients.py
  tests/test_load_optimizers.py
  tests/test_optimizers.py
Labels: bug, enhancement, feature, feature request, size/XL

#135 [Update] Lion optimizer
  pytorch_optimizer/optimizer/lion.py
  tests/constants.py
Labels: bug, feature, size/M

#136 [Feature] Implement A2Grad optimizer
  README.rst
  docs/optimizer_api.rst
  pytorch_optimizer/__init__.py
  pytorch_optimizer/base/optimizer.py
  pytorch_optimizer/optimizer/a2grad.py
  pytorch_optimizer/optimizer/sam.py
  tests/constants.py
  tests/test_load_optimizers.py
  tests/test_optimizer_parameters.py
Labels: feature

#137 [Feature] Implement Accelerated SGD optimizer
  README.rst
  docs/optimizer_api.rst
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/base/optimizer.py
  pytorch_optimizer/optimizer/sgd.py
  tests/constants.py
  tests/test_general_optimizer_parameters.py
  tests/test_load_optimizers.py
  tests/test_optimizer_parameters.py
Labels: feature, size/XL

#139 [Feature] Implement SGDW, ASGD optimizers
  README.rst
  docs/optimizer_api.rst
  pytorch_optimizer/__init__.py
  pytorch_optimizer/base/optimizer.py
  pytorch_optimizer/optimizer/sgd.py
  pytorch_optimizer/optimizer/sgdp.py
  tests/constants.py
  tests/test_general_optimizer_parameters.py
  tests/test_load_optimizers.py
Labels: bug, feature, size/L

#142 [Feature] Implement Fromage optimizer
  README.rst
  docs/optimizer_api.rst
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/fromage.py
  tests/constants.py
  tests/test_general_optimizer_parameters.py
  tests/test_gradients.py
  tests/test_load_optimizers.py
Labels: feature, size/L

#143 [Feature] Implement MSVAG optimizer
  README.rst
  docs/optimizer_api.rst
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/fromage.py
  pytorch_optimizer/optimizer/msvag.py
  tests/constants.py
  tests/test_general_optimizer_parameters.py
  tests/test_load_optimizers.py
Labels: feature, size/L

#144 [Feature] Implement AdaMod optimizer
  README.rst
  docs/optimizer_api.rst
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/adamod.py
  tests/constants.py
  tests/test_general_optimizer_parameters.py
  tests/test_load_optimizers.py
  tests/test_optimizers.py
Labels: feature, size/L

#145 [Feature] Implement AggMo optimizer
  README.rst
  docs/optimizer_api.rst
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/aggmo.py
  tests/constants.py
  tests/test_general_optimizer_parameters.py
  tests/test_load_optimizers.py
Labels: feature, size/L

#146 [Feature] Implement QHAdam, QHM optimizers
  README.rst
  docs/optimizer_api.rst
  pytorch_optimizer/__init__.py
  pytorch_optimizer/base/optimizer.py
  pytorch_optimizer/optimizer/qhadam.py
  pytorch_optimizer/optimizer/qhm.py
  tests/constants.py
  tests/test_general_optimizer_parameters.py
  tests/test_load_optimizers.py
Labels: feature, size/L

#147 [Feature] Implement PID optimizer
  README.rst
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/pid.py
  tests/constants.py
  tests/test_general_optimizer_parameters.py
  tests/test_load_optimizers.py
Labels: feature, size/L

#148 [Feature] Implement AdaMax optimizer
  docs/optimizer_api.rst
  pytorch_optimizer/__init__.py
  pytorch_optimizer/lr_scheduler/experimental/__init__.py
  pytorch_optimizer/lr_scheduler/experimental/deberta_v3_lr_scheduler.py
  pytorch_optimizer/optimizer/adamax.py
  pytorch_optimizer/optimizer/ranger21.py
  pytorch_optimizer/optimizer/shampoo.py
  pytorch_optimizer/optimizer/shampoo_utils.py
  pytorch_optimizer/optimizer/utils.py
  tests/constants.py
  tests/test_load_optimizers.py
  tests/test_lr_schedulers.py
  tests/test_optimizers.py
Labels: enhancement, refactoring, feature, size/L
