Repository kozistr/pytorch_optimizer, pull requests merged in 2023-09, with the labels that each got.

#201 [Fix] Make Lookahead a subclass of Optimizer
  pytorch_optimizer/optimizer/lookahead.py
Labels: bug, size/XS

#203 [Feature] Implement DAdaptLion optimizer
  README.rst
  docs/changelogs/v2.11.2.md
  docs/optimizer_api.rst
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/adabelief.py
  pytorch_optimizer/optimizer/dadapt.py
  pytorch_optimizer/optimizer/fp16.py
  tests/constants.py
  tests/test_general_optimizer_parameters.py
  tests/test_gradients.py
  tests/test_load_modules.py
  tests/test_optimizers.py
Labels: documentation, feature, size/M

#205 [Fix] Documentation isn't built successfully
  docs/conf.py
  docs/loss_api.rst
  docs/optimizer_api.rst
  docs/requirements.txt
Labels: bug, documentation, size/S

#206 [Docs] Migrate to mkdocs
  Makefile
  docs/.readthedocs.yaml
  docs/Makefile
  docs/base.md
  docs/base_api.rst
  docs/conf.py
  docs/index.md
  docs/index.rst
  docs/loss.md
  docs/loss_api.rst
  docs/lr_scheduler.md
  docs/make.bat
  docs/optimizer.md
  docs/optimizer_api.rst
  docs/requirements.txt
  docs/scheduler_api.rst
  docs/util.md
  docs/util_api.rst
  mkdocs.yml
  pytorch_optimizer/loss/jaccard.py
  pytorch_optimizer/lr_scheduler/linear_warmup.py
  pytorch_optimizer/optimizer/rotograd.py
  pytorch_optimizer/optimizer/srmm.py
Labels: documentation, size/XXL

#207 [Docs] Index page
  docs/index.md
  mkdocs.yml
Labels: documentation, size/L

#209 [Docs] Update documentation
  docs/.readthedocs.yaml
  docs/javascripts/tables.js
  mkdocs.yml
  requirements-docs.txt
Labels: documentation, size/S
