Repository kozistr/pytorch_optimizer, pull requests merged in 2024-05, with the labels that each got.

#233 [Feature] Lots of stuffs
  README.md
  docs/changelogs/v3.0.0.md
  docs/index.md
  docs/optimizer.md
  docs/util.md
  poetry.lock
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/sam.py
  pytorch_optimizer/optimizer/schedulefree.py
  pytorch_optimizer/optimizer/utils.py
  requirements-dev.txt
  requirements.txt
  tests/constants.py
  tests/test_general_optimizer_parameters.py
  tests/test_gradients.py
  tests/test_load_modules.py
  tests/test_optimizers.py
  tests/test_utils.py
Labels: documentation, enhancement, dependencies, feature request, size/XL

#235 [Docs] `v3.0.0`
  docs/changelogs/v3.0.0.md
  poetry.lock
  requirements-dev.txt
  requirements.txt
Labels: documentation, dependencies, size/S

#240 fix: reg_noise typing
  pytorch_optimizer/optimizer/utils.py
Labels: bug, size/XS

#238 fix: change Lookahead's param_groups to a property
  pytorch_optimizer/optimizer/lookahead.py
Labels: bug, size/XS
