Repository kozistr/pytorch_optimizer, pull requests merged in 2024-12, with the labels that each got.

#301 [Feature] Implement DeMo optimizer
  README.md
  docs/changelogs/v3.3.1.md
  docs/index.md
  docs/optimizer.md
  poetry.lock
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/demo.py
  requirements-dev.txt
Labels: documentation, dependencies, feature request, size/L

#302 [Feature] Implement Muon optimizer
  README.md
  docs/changelogs/v3.3.1.md
  docs/index.md
  docs/optimizer.md
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/demo.py
  pytorch_optimizer/optimizer/muon.py
  tests/constants.py
  tests/test_create_optimizer.py
  tests/test_general_optimizer_parameters.py
  tests/test_gradients.py
  tests/test_load_modules.py
  tests/test_optimizers.py
Labels: documentation, feature, size/L

#304 [Feature] Implement `ScheduleFreeRAdam`, `LaProp` optimizers and lots of things
  README.md
  docs/changelogs/v3.3.1.md
  docs/index.md
  docs/optimizer.md
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/adalite.py
  pytorch_optimizer/optimizer/adamp.py
  pytorch_optimizer/optimizer/adopt.py
  pytorch_optimizer/optimizer/laprop.py
  pytorch_optimizer/optimizer/schedulefree.py
  tests/constants.py
  tests/test_load_modules.py
  tests/test_optimizers.py
Labels: documentation, enhancement, refactoring, feature, size/L

#307 [Release] v3.3.0
  docs/changelogs/v3.3.0.md
  docs/changelogs/v3.3.1.md
Labels: documentation, size/XS

#308 [Bugfix] Fix AdamG instability
  pytorch_optimizer/optimizer/adamg.py
Labels: size/XS

#309 [Fix] CI
  docs/changelogs/v3.3.1.md
  tests/constants.py
Labels: test, size/XS

#310 [Fix] Save and load the Lookahead optimizer's state
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  docs/changelogs/v3.3.1.md
  docs/index.md
  docs/visualization.md
  docs/visualizations/rastrigin_AdaShift.png
  docs/visualizations/rastrigin_AdamG.png
  docs/visualizations/rastrigin_LaProp.png
  docs/visualizations/rastrigin_Muon.png
  docs/visualizations/rastrigin_ScheduleFreeRAdam.png
  docs/visualizations/rosenbrock_AdaShift.png
  docs/visualizations/rosenbrock_AdamG.png
  docs/visualizations/rosenbrock_LaProp.png
  docs/visualizations/rosenbrock_Muon.png
  docs/visualizations/rosenbrock_ScheduleFreeRAdam.png
  examples/visualize_optimizers.py
  pytorch_optimizer/optimizer/a2grad.py
  pytorch_optimizer/optimizer/adashift.py
  pytorch_optimizer/optimizer/lookahead.py
  tests/constants.py
  tests/test_optimizer_parameters.py
Labels: documentation, enhancement, refactoring, size/M

#312 [Feature] Implement APOLLO optimizer
  README.md
  docs/changelogs/v3.3.1.md
  docs/index.md
  docs/optimizer.md
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/apollo.py
  pytorch_optimizer/optimizer/galore.py
  pytorch_optimizer/optimizer/galore_utils.py
  tests/constants.py
  tests/test_general_optimizer_parameters.py
  tests/test_load_modules.py
  tests/test_optimizer_parameters.py
Labels: documentation, refactoring, feature request, size/XL

#314 [Feature] Implement MARS optimizer
  docs/changelogs/v3.3.1.md
  pyproject.toml
  tests/constants.py
  tests/test_optimizers.py
Labels: documentation, enhancement, refactoring, dependencies, feature request, size/XS

#316 [Feature] Implement `SGDSaI` optimizer
  README.md
  docs/changelogs/v3.3.2.md
  docs/index.md
  docs/optimizer.md
  docs/visualization.md
  docs/visualizations/rastrigin_SGDSaI.png
  docs/visualizations/rosenbrock_SGDSaI.png
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/adashift.py
  pytorch_optimizer/optimizer/ademamix.py
  pytorch_optimizer/optimizer/mars.py
  pytorch_optimizer/optimizer/sgd.py
  tests/constants.py
  tests/test_load_modules.py
Labels: bug, documentation, feature request, size/M
