Repository kozistr/pytorch_optimizer, pull requests merged in 2024-11, with the labels that each got.

#288 [Feature] Support `palm` variant for `ScheduleFreeAdamW` optimizer
  docs/changelogs/v3.3.0.md
  poetry.lock
  pytorch_optimizer/optimizer/schedulefree.py
  requirements-dev.txt
  requirements.txt
  tests/constants.py
  tests/test_utils.py
Labels: feature request, size/S

#290 [Feature] Implement ADOPT optimizer
  README.md
  docs/changelogs/v3.3.0.md
  docs/index.md
  docs/optimizer.md
  poetry.lock
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/adopt.py
  requirements-dev.txt
  tests/constants.py
  tests/test_load_modules.py
Labels: feature request, size/M

#294 [Feature] Cautious optimizer, improve the stability of ADOPT optimizer, a new projector type `random` for `GaLore` optimizer
  README.md
  docs/changelogs/v3.3.0.md
  docs/index.md
  pytorch_optimizer/base/optimizer.py
  pytorch_optimizer/optimizer/adafactor.py
  pytorch_optimizer/optimizer/ademamix.py
  pytorch_optimizer/optimizer/adopt.py
  pytorch_optimizer/optimizer/galore.py
  pytorch_optimizer/optimizer/lion.py
  tests/constants.py
Labels: documentation, enhancement, feature, size/M

#295 [Fix] Add optimizer parameter to PolyScheduler constructor.
  pytorch_optimizer/lr_scheduler/linear_warmup.py
Labels: bug, size/XS

#297 [Docs] document stuff
  README.md
  docs/changelogs/v3.3.0.md
  docs/index.md
  docs/visualization.md
  docs/visualizations/rastrigin_ADOPT.png
  docs/visualizations/rastrigin_AdEMAMix.png
  docs/visualizations/rastrigin_AdamG.png
  docs/visualizations/rastrigin_FTRL.png
  docs/visualizations/rastrigin_SOAP.png
  docs/visualizations/rosenbrock_ADOPT.png
  docs/visualizations/rosenbrock_AdEMAMix.png
  docs/visualizations/rosenbrock_AdamG.png
  docs/visualizations/rosenbrock_FTRL.png
  docs/visualizations/rosenbrock_SOAP.png
Labels: documentation, size/S

#298 [Release] v3.3.0
  pyproject.toml
Labels: size/XS
