Repository kozistr/pytorch_optimizer, pull requests merged in 2024-07, with the labels that each got.

#251 [Feature] Implement Kate optimizer
  README.md
  docs/changelogs/v3.0.2.md
  docs/index.md
  docs/optimizer.md
  poetry.lock
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/kate.py
  requirements-dev.txt
  tests/constants.py
  tests/test_load_modules.py
Labels: documentation, feature request, size/L

#252 [Feature] Implement StableAdamW optimizer
  README.md
  docs/changelogs/v3.0.2.md
  docs/index.md
  docs/optimizer.md
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/adamw.py
  pytorch_optimizer/optimizer/utils.py
  tests/constants.py
  tests/test_load_modules.py
  tests/test_optimizers.py
Labels: documentation, feature request, size/M

#253 [Feature] Implement AdamMini optimizer
  README.md
  docs/changelogs/v3.0.2.md
  docs/index.md
  docs/optimizer.md
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/base/optimizer.py
  pytorch_optimizer/optimizer/adam_mini.py
  tests/constants.py
  tests/test_base.py
  tests/test_gradients.py
  tests/test_load_modules.py
  tests/test_optimizers.py
Labels: documentation, feature request, size/L

#254 [Update] v3.0.2
  pyproject.toml
Labels: feature, size/XS

#257 [BUG Fix]Fix 3 bugs for Adam-Mini
  pytorch_optimizer/optimizer/adam_mini.py
Labels: bug, size/XS

#258 [Feature] Implement `AdaLOMO` optimizer and others
  README.md
  docs/changelogs/v3.1.0.md
  docs/index.md
  docs/optimizer.md
  examples/visualize_optimizers.py
  poetry.lock
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/base/optimizer.py
  pytorch_optimizer/optimizer/adafactor.py
  pytorch_optimizer/optimizer/adam_mini.py
  pytorch_optimizer/optimizer/lomo.py
  pytorch_optimizer/optimizer/utils.py
  requirements-dev.txt
  requirements.txt
  tests/test_create_optimizer.py
  tests/test_general_optimizer_parameters.py
  tests/test_gradients.py
  tests/test_load_modules.py
  tests/test_optimizers.py
Labels: documentation, enhancement, refactoring, dependencies, feature, size/XL

#259 [Refactor] Stuffs
  poetry.lock
  pyproject.toml
  pytorch_optimizer/optimizer/rotograd.py
  pytorch_optimizer/optimizer/shampoo.py
  pytorch_optimizer/optimizer/shampoo_utils.py
Labels: enhancement, performance, size/M

#260 [Update] Improve the performance
  docs/changelogs/v3.1.0.md
  poetry.lock
  pytorch_optimizer/optimizer/utils.py
  requirements-dev.txt
  requirements.txt
Labels: enhancement, performance, dependencies, size/S
