Repository kozistr/pytorch_optimizer, pull requests merged in 2024-10, with the labels that each got.

#280 [Fix] `should_grokfast` condition
  docs/changelogs/v3.2.0.md
  docs/qa.md
  poetry.lock
  pytorch_optimizer/optimizer/grokfast.py
  requirements-dev.txt
  tests/constants.py
Labels: bug, documentation, dependencies, size/XS

#281 [Feature] Support 8/4bit, fp8 optimizers
  README.md
  docs/changelogs/v3.2.0.md
  docs/index.md
  pytorch_optimizer/__init__.py
  tests/test_create_optimizer.py
Labels: documentation, feature request, size/S

#282 [Fix] Implement better `wd_ban_list` handling
  pytorch_optimizer/optimizer/utils.py
  tests/test_utils.py
Labels: enhancement, size/S

#283 [Fix] when `model_or_parameter` is not `nn.Module` instance.
  docs/changelogs/v3.2.0.md
  poetry.lock
  pytorch_optimizer/optimizer/utils.py
  requirements-dev.txt
  requirements.txt
  tests/test_utils.py
Labels: bug, documentation, refactoring, size/S

#285 [Release] v3.2.0
  docs/changelogs/v3.2.0.md
  pyproject.toml
Labels: documentation, size/XS
