Repository kozistr/pytorch_optimizer, pull requests merged in 2024-04, with the labels that each got.

#227 [Bugfix] Fix SRMM to allow operation beyond memory_length
  pytorch_optimizer/optimizer/srmm.py
Labels: bug, size/XS

#228 [Feature] Implement GaLore optimizer
  README.md
  docs/changelogs/v3.0.0.md
  docs/optimizer.md
  poetry.lock
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/galore.py
  requirements-dev.txt
  requirements.txt
  tests/constants.py
  tests/test_load_modules.py
  tests/test_optimizer_parameters.py
Labels: dependencies, feature request, size/L

#229 [Feature] Implement Adalite optimizer
  README.md
  docs/changelogs/v3.0.0.md
  docs/optimizer.md
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/adalite.py
  tests/constants.py
  tests/test_general_optimizer_parameters.py
  tests/test_load_modules.py
  tests/test_optimizers.py
Labels: feature request, size/M
