Repository kozistr/pytorch_optimizer, pull requests merged in 2025-01, with the labels that each got.

#318 [Feature] Implement `Grams` optimizer
  README.md
  docs/changelogs/v3.3.3.md
  docs/index.md
  docs/optimizer.md
  docs/visualization.md
  docs/visualizations/rastrigin_Grams.png
  docs/visualizations/rosenbrock_Grams.png
  poetry.lock
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/grams.py
  requirements-dev.txt
  requirements.txt
  tests/constants.py
  tests/test_load_modules.py
Labels: documentation, dependencies, feature request, size/M

#321 [Feature] Implement `OrthoGrad` optimizer
  README.md
  docs/changelogs/v3.3.3.md
  docs/index.md
  docs/optimizer.md
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/orthograd.py
  pytorch_optimizer/optimizer/prodigy.py
  tests/constants.py
  tests/test_utils.py
  tests/utils.py
Labels: documentation, feature request, size/M

#324 [Refactor] flexible and consistent `optimizer` parameters for `Lookahead`, `TRAC`, and `OrthoGrad` optimizers
  README.md
  docs/changelogs/v3.3.4.md
  docs/index.md
  docs/optimizer.md
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/base/scheduler.py
  pytorch_optimizer/base/types.py
  pytorch_optimizer/lr_scheduler/cosine_anealing.py
  pytorch_optimizer/lr_scheduler/rex.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/experimental/ranger25.py
  pytorch_optimizer/optimizer/fp16.py
  pytorch_optimizer/optimizer/lookahead.py
  pytorch_optimizer/optimizer/nero.py
  pytorch_optimizer/optimizer/orthograd.py
  pytorch_optimizer/optimizer/pcgrad.py
  pytorch_optimizer/optimizer/sam.py
  pytorch_optimizer/optimizer/spam.py
  pytorch_optimizer/optimizer/trac.py
  tests/constants.py
  tests/test_create_optimizer.py
  tests/test_gradients.py
  tests/test_load_modules.py
  tests/test_optimizer_parameters.py
  tests/test_optimizers.py
  tests/test_utils.py
  tests/utils.py
Labels: documentation, enhancement, refactoring, feature request, size/XL

#325 [Feature] Implement `TAM`, `AdaTAM` optimizers
  README.md
  docs/changelogs/v3.3.4.md
  docs/index.md
  docs/optimizer.md
  docs/qa.md
  docs/visualization.md
  docs/visualizations/rastrigin_AdaTAM.png
  docs/visualizations/rastrigin_Ranger25.png
  docs/visualizations/rastrigin_SPAM.png
  docs/visualizations/rastrigin_TAM.png
  docs/visualizations/rosenbrock_AdaTAM.png
  docs/visualizations/rosenbrock_Ranger25.png
  docs/visualizations/rosenbrock_SPAM.png
  docs/visualizations/rosenbrock_TAM.png
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/adafactor.py
  pytorch_optimizer/optimizer/adamp.py
  pytorch_optimizer/optimizer/adamw.py
  pytorch_optimizer/optimizer/sgd.py
  pytorch_optimizer/optimizer/spam.py
  pytorch_optimizer/optimizer/tam.py
  tests/constants.py
  tests/test_load_modules.py
Labels: documentation, feature, size/L

#327 fix OrthoGrad state management bug
  pytorch_optimizer/optimizer/orthograd.py
Labels: size/XS

#328 [Update] proper property
  docs/changelogs/v3.3.5.md
  poetry.lock
  pytorch_optimizer/optimizer/orthograd.py
  requirements-dev.txt
  tests/test_gradients.py
  tests/test_utils.py
Labels: enhancement, dependencies, size/S

#331 [Feature] Implemet `FOCUS` optimizer
  README.md
  docs/index.md
  docs/optimizer.md
  docs/visualization.md
  docs/visualizations/rastrigin_FOCUS.png
  docs/visualizations/rosenbrock_FOCUS.png
  poetry.lock
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/focus.py
  requirements-dev.txt
  tests/constants.py
  tests/test_general_optimizer_parameters.py
  tests/test_load_modules.py
Labels: documentation, dependencies, feature request, size/M

#332 [Fix] Wrapper optimizers
  docs/changelogs/v3.3.5.md
  pyproject.toml
  pytorch_optimizer/base/optimizer.py
  pytorch_optimizer/loss/jaccard.py
  pytorch_optimizer/optimizer/experimental/ranger25.py
  pytorch_optimizer/optimizer/lookahead.py
  pytorch_optimizer/optimizer/orthograd.py
  pytorch_optimizer/optimizer/shampoo_utils.py
  pytorch_optimizer/optimizer/trac.py
  pytorch_optimizer/optimizer/utils.py
  tests/constants.py
  tests/test_optimizer_parameters.py
Labels: bug, enhancement, refactoring, size/M
