Repository kozistr/pytorch_optimizer, pull requests merged in 2025-02, with the labels that each got.

#337 [Feature] implement PSGD Kron optimizer
  README.md
  docs/changelogs/v3.3.5.md
  docs/changelogs/v3.4.0.md
  docs/index.md
  docs/optimizer.md
  poetry.lock
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/base/optimizer.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/ftrl.py
  pytorch_optimizer/optimizer/muon.py
  pytorch_optimizer/optimizer/psgd.py
  pytorch_optimizer/optimizer/psgd_utils.py
  pytorch_optimizer/optimizer/rotograd.py
  pytorch_optimizer/optimizer/shampoo_utils.py
  pytorch_optimizer/optimizer/utils.py
  tests/constants.py
  tests/test_general_optimizer_parameters.py
  tests/test_load_modules.py
  tests/test_optimizers.py
  tests/test_utils.py
Labels: documentation, dependencies, feature request, size/XL

#335 [Feature] Store SOAP condition matrices as the dtype of their parameters
  pytorch_optimizer/optimizer/soap.py
Labels: bug, size/S

#339 [Feature] Implement `EXAdam` optimizer
  README.md
  docs/changelogs/v3.4.0.md
  docs/index.md
  docs/optimizer.md
  docs/visualization.md
  docs/visualizations/rastrigin_EXAdam.png
  docs/visualizations/rastrigin_Kron.png
  docs/visualizations/rosenbrock_EXAdam.png
  docs/visualizations/rosenbrock_Kron.png
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/exadam.py
  tests/constants.py
  tests/test_load_modules.py
Labels: documentation, feature request, size/M

#340 [Update] stuff
  README.md
  docs/index.md
  poetry.lock
  pyproject.toml
  pytorch_optimizer/base/optimizer.py
  pytorch_optimizer/optimizer/experimental/ranger25.py
  pytorch_optimizer/optimizer/lookahead.py
  pytorch_optimizer/optimizer/orthograd.py
  pytorch_optimizer/optimizer/sgd.py
  pytorch_optimizer/optimizer/shampoo.py
  pytorch_optimizer/optimizer/shampoo_utils.py
  pytorch_optimizer/optimizer/spam.py
  pytorch_optimizer/optimizer/trac.py
  requirements-dev.txt
  requirements.txt
  tests/constants.py
  tests/test_gradients.py
  tests/test_optimizers.py
  tests/test_utils.py
Labels: enhancement, refactoring, dependencies, cleanup, size/M

#344 [Feature] Implement `GCSAM` and `LookSAM` optimizers
  README.md
  docs/changelogs/v3.4.1.md
  docs/index.md
  docs/optimizer.md
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/sam.py
  tests/constants.py
  tests/test_gradients.py
  tests/test_optimizer_parameters.py
  tests/test_optimizers.py
Labels: documentation, feature request, size/L

#347 [Fix] Updating `exp_avg_sq` after calculating the `denominator` in `ADOPT` optimizer
  docs/changelogs/v3.4.1.md
  pytorch_optimizer/optimizer/adopt.py
  pytorch_optimizer/optimizer/experimental/ranger25.py
  tests/constants.py
Labels: bug, size/S

#350 [Fix] AliG optimizer visualization + Some plots showing optimizer vars
  docs/visualizations/rastrigin_AdaShift.png
  docs/visualizations/rastrigin_AliG.png
  docs/visualizations/rastrigin_BSAM.png
  docs/visualizations/rastrigin_Ranger21.png
  docs/visualizations/rastrigin_Ranger25.png
  docs/visualizations/rosenbrock_AdaShift.png
  docs/visualizations/rosenbrock_AliG.png
  docs/visualizations/rosenbrock_BSAM.png
  docs/visualizations/rosenbrock_Ranger21.png
  docs/visualizations/rosenbrock_Ranger25.png
  examples/visualize_optimizers.py
Labels: bug, size/XS

#352 [Feature] Implement `SCION` optimizer
  README.md
  docs/changelogs/v3.4.2.md
  docs/index.md
  docs/optimizer.md
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/scion.py
  tests/constants.py
  tests/test_general_optimizer_parameters.py
  tests/test_load_modules.py
  tests/test_optimizer_parameters.py
Labels: feature request, size/M

#353 [Update] ScheduleFree optimizers
  docs/changelogs/v3.4.2.md
  docs/visualization.md
  docs/visualizations/rastrigin_Ranger25.png
  docs/visualizations/rastrigin_SCION.png
  docs/visualizations/rastrigin_ScheduleFreeAdamW.png
  docs/visualizations/rastrigin_ScheduleFreeRAdam.png
  docs/visualizations/rastrigin_ScheduleFreeSGD.png
  docs/visualizations/rosenbrock_Ranger25.png
  docs/visualizations/rosenbrock_SCION.png
  docs/visualizations/rosenbrock_ScheduleFreeAdamW.png
  docs/visualizations/rosenbrock_ScheduleFreeRAdam.png
  docs/visualizations/rosenbrock_ScheduleFreeSGD.png
  poetry.lock
  pyproject.toml
  pytorch_optimizer/optimizer/experimental/ranger25.py
  pytorch_optimizer/optimizer/schedulefree.py
  requirements-dev.txt
  tests/constants.py
Labels: bug, documentation, enhancement, dependencies, size/M

#354 [Fix] bias correction2 in ScheduleFreeRAdam optimizer
  docs/changelogs/v3.4.3.md
  docs/visualizations/rastrigin_ScheduleFreeRAdam.png
  docs/visualizations/rosenbrock_ScheduleFreeRAdam.png
  examples/visualize_optimizers.py
  pytorch_optimizer/optimizer/schedulefree.py
  tests/constants.py
Labels: bug, size/XS

#356 [Update] Muon optimizer
  docs/changelogs/v3.4.3.md
  docs/visualization.md
  docs/visualizations/rastrigin_Muon.png
  docs/visualizations/rosenbrock_Muon.png
  examples/visualize_optimizers.py
  pytorch_optimizer/optimizer/muon.py
  pytorch_optimizer/optimizer/shampoo_utils.py
  tests/constants.py
  tests/test_optimizers.py
Labels: documentation, enhancement, feature request, size/M

#359 [Feature] Implement StableSPAM optimizer
  README.md
  docs/changelogs/v3.4.3.md
  docs/index.md
  docs/optimizer.md
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/spam.py
  tests/constants.py
  tests/test_load_modules.py
Labels: documentation, feature request, size/M
