Repository kozistr/pytorch_optimizer, pull requests merged in 2025-08, with the labels that each got.

#407 [Feature] Implement `EmoNeco` and `EmoZeal` optimizers
  README.md
  docs/changelogs/v3.7.1.md
  docs/index.md
  docs/optimizer.md
  docs/visualization.md
  docs/visualizations/rastrigin_EmoNeco.png
  docs/visualizations/rastrigin_EmoZeal.png
  docs/visualizations/rosenbrock_EmoNeco.png
  docs/visualizations/rosenbrock_EmoZeal.png
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/emonavi.py
  tests/constants.py
  tests/test_load_modules.py
  tests/test_optimizers.py
Labels: documentation, feature, size/L

#410 [Update] Re-implement `Muon` and `AdaMuon` optimizers
  docs/changelogs/v3.8.0.md
  poetry.lock
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/muon.py
  requirements-dev.txt
  requirements.txt
  tests/constants.py
  tests/test_gradients.py
  tests/test_optimizer_parameters.py
  tests/test_optimizers.py
  tests/test_utils.py
Labels: bug, documentation, enhancement, dependencies, size/XL

#411 [Feature] Prepend the changelog automatically
  .github/workflows/publish.yml
Labels: test, size/S

#412 [CI] Copy `README.md` to `/docs/index.md` automatically
  .github/workflows/ci.yml
  .github/workflows/copy-readme.yml
  .github/workflows/publish.yml
  README.md
  docs/index.md
Labels: test, size/S

#413 [CI] Add `pr_labeler` github action
  .github/labeler.yml
  .github/workflows/copy_readme.yml
  .github/workflows/pr_labeler.yml
Labels: github_actions, size/S

#414 [Feature] Implement `Refined Schedule-Free AdamW` optimizer
  README.md
  docs/changelogs/v3.8.0.md
  docs/index.md
  pytorch_optimizer/optimizer/schedulefree.py
  tests/constants.py
Labels: feature request, size/L

#415 [Update] lots of stuff
  .github/labeler.yml
  .github/workflows/copy_readme.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/publish.yml
  README.md
  docs/changelogs/v3.8.0.md
  docs/index.md
  examples/huggingface_trainer_example.py
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/dadapt.py
  pytorch_optimizer/optimizer/shampoo_utils.py
  pytorch_optimizer/optimizer/trac.py
  tests/test_create_optimizer.py
  tests/test_general_optimizer_parameters.py
  tests/test_gradients.py
  tests/test_load_modules.py
Labels: documentation, enhancement, github_actions, refactoring, size/XL

#417 [Feature] Support `cautious` variant for `Muon` optimizer
  .github/labeler.yml
  docs/.nav.yml
  docs/changelogs/v3.8.0.md
  docs/visualization.md
  examples/visualize_optimizers.py
  mkdocs.yml
  pytorch_optimizer/optimizer/muon.py
  requirements-docs.txt
  tests/constants.py
  tests/test_optimizer_variants.py
  tests/test_optimizers.py
  tests/utils.py
Labels: documentation, dependencies, size/L, optimizer

#418 [Feature] Implement `DistributedMuon` optimizer
  docs/changelogs/v3.8.0.md
  docs/optimizer.md
  pytorch_optimizer/__init__.py
  pytorch_optimizer/base/optimizer.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/muon.py
  pytorch_optimizer/optimizer/utils.py
  requirements-docs.txt
  tests/test_create_optimizer.py
  tests/test_gradients.py
  tests/test_load_modules.py
  tests/test_utils.py
Labels: documentation, dependencies, size/L, optimizer

#428 [Docs] Upgrade the documentation page
  .github/workflows/pr_automerge.yml
  docs/changelogs/v3.8.1.md
  mkdocs.yml
  requirements-docs.txt
Labels: documentation, github_actions, dependencies, size/S

#429 [Dependency] Remove `isort`
  Makefile
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Labels: dependencies, size/XS

#431 Fix NaN problem when Grad Norm is zero.
  pytorch_optimizer/optimizer/spam.py
Labels: bug, size/XS, optimizer

#434 [Feature] Implement `FriendlySAM` optimizer
  README.md
  docs/changelogs/v3.8.1.md
  docs/index.md
  docs/optimizer.md
  poetry.lock
  pyproject.toml
  pytorch_optimizer/__init__.py
  pytorch_optimizer/optimizer/__init__.py
  pytorch_optimizer/optimizer/sam.py
  requirements-dev.txt
  requirements.txt
  tests/constants.py
  tests/test_gradients.py
  tests/test_optimizer_parameters.py
  tests/test_wrapper_optimizers.py
Labels: documentation, dependencies, size/XL, optimizer
